@import '~bootstrap/scss/bootstrap';
h1{
    text-align: center;
}

ul{
    list-style: none;
}

header{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 80px;

    color: #FFFFFF;
    background-color:#000000;
    li{
        transition: all 0.2s ease-in-out;
        &:hover{
        transform: scale(105%);
        }
        &.active a{
            color: #FFC107;

            text-decoration: underline;
        }
        a{
            color: #FFFFFF;
            &:hover{
                color: #D3D3D3;

                text-decoration: underline;
            }
        }
    }
}

a{
    text-decoration: none;
}

main{
    height: 100vh;
    
    padding: 100px 20px 30px;

    color: #FFFFFF;
    background-color: #555555;
}

.dc-container .card{
    height: 100%;

    color: #000000;
    background-color:#F5F5F5;

    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(105%);

        cursor: pointer;
    }
    img{
        height: 75%;
    }
    .card-body{
        height: 25%;
    }
}

.container-details{
    text-align:center;

    width: 60%;

    margin: 0 auto;
    padding: 30px;
    .card {
        max-height: 90%;

        padding: 20px 0;

        font-size: 120%;
        
        color: #000000;
        background-color: #F5F5F5;
    }
    img{
        width: 250px;
        
        margin: 0 auto;

        object-fit: cover;
    }
}